@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body{
    height: 100%;
    font-weight: 800;
}
body{
    background-color: #36393B;
}

svg{

    display: block;
    font: 4.5em 'Montserrat';
    width: 260px;
    height: 60px;
 
}
.text-ants{
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 32%;
    stroke-width: 4px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-ants:nth-child(1){
    stroke: #F15025;
    animation-delay: -1;
}

.text-ants:nth-child(2){
    stroke: #FFFFFF;
    animation-delay: -2s;
}

.text-ants:nth-child(3){
    stroke: #E6E8E6;
    animation-delay:-3s;
}

.text-ants:nth-child(4){
    stroke: #CED0CE;
    animation-delay: -4s;
}

.text-ants:nth-child(5){
    stroke: #191919;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100%{stroke-dashoffset: -38%;}
}
   
 .btn{
  border-color: darkgrey;
  border-width: 2px;
 }
    #nav1{
      background-color: #191919;
    }